@import url("https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu&family=Varela+Round&display=swap");

#achievements {
  padding-bottom: 180px;
}

.about,
.skills,
.achievements,
.qualifications,
.contact {
  max-width: 100vw;
}

.about,
.skills,
.achievements,
.qualifications,
.contact {
  padding: 100px 0;
}

.navbar {
  transition: var(--transit);
  width: 100%;
  padding: 30px 0;
  position: fixed;
  top: 0px;
  z-index: 999;
}

.sticky {
  padding: 20px 0;
  background-color: var(--sec-color);
  box-shadow: 0px 4px 12px var(--sec-color);
}

.navbar.sticky li a {
  color: white;
}

.stuff {
  padding-left: 5%;
}

.nav-list li {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  padding-right: 4rem;
  letter-spacing: 0.05rem;
  transition: var(--transit);
}

.nav-list .name {
  display: none;
}

.nav-list li a {
  position: relative;
  color: black;
  bottom: 0rem;
  transition: var(--transit);
}

.nav-list li a:hover {
  color: var(--main-color);
  font-size: 1.1rem;
}

.nav-list li a::before {
  transition: var(--transit);
  content: "";
  position: absolute;
  background-color: white;
  width: 0%;
  left: 0;
  height: 0.13rem;
  bottom: -0.3rem;
}

.nav-list li a:hover::before {
  width: 100%;
  height: 0.15rem;
  background-color: var(--main-color);
}

.logo span {
  margin-left: 2%;
}

.ham {
  display: none;
  transition: var(--transit);
  color: black;
  /* width: 10%; */
  font-size: 1.5rem;
  font-weight: bolder;
  position: absolute;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  z-index: 1000;
}

.cross {
  display: none;
  transition: var(--transit);
  /* color: white; */
  color: var(--main-color);
  /* width: 10%; */
  font-size: 1.5rem;
  position: absolute;
  right: 5%;
  cursor: pointer;
  opacity: 0;
}

.name {
  font-size: 1.3rem;
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  color: var(--main-color);
  text-shadow: 0px 0px var(--main-color);
  transition: var(--transit);
}

.home {
  min-height: 100vh;
}

.home-bg {
  background: url(../images/banner.jpg);
  background-size: cover;
  box-shadow: 0px 4px 12px rgb(142 117 97);
}

.intro {
  letter-spacing: 0.5rem;
  line-height: 3.5rem;
  font-family: "Ubuntu", sans-serif;
}

.intro-h2 {
  font-size: 2rem;
}

.intro-h1 {
  font-size: 3rem;
}

.type {
  margin-top: 2rem;
  font-size: 2.2rem;
}
.home .icons a {
  /* display: block; */
  /* width: 0.75rem; */
  /* margin-right: 4rem; */
  margin-right: 2.9rem;
  margin-top: 2rem;
  color: black;
  z-index: 0;
}

.icons {
  position: relative;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.fa-linkedin:before {
  content: "\f08c";
}

.fa-github:before {
  content: "\f09b";
}

.fa-envelope:before {
  content: "\f0e0";
}

.linkedin:hover {
  color: #007bb6 !important;
}

.github:hover {
  color: #29276b !important;
}

.mail:hover {
  color: #0962b0 !important;
}

#contact-btn {
  display: inline-block;
  transition: var(--transit);
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  /* margin-top: 4rem; */
  color: var(--main-color);
  background: none;
  border: 3px solid var(--main-color);
  border-radius: 0.5rem;
  font-family: "Ubuntu", sans-serif;
}

#contact-btn:hover {
  color: black;
  background-color: #50c46b;
  border: 3px solid transparent;
  border: 3px solid #50c46b;
  box-shadow: 0px 4px 12px #50c46b;
}

.home-content {
  padding-top: 175px;
  margin-left: 8%;
  margin-right: 8%;
  padding-bottom: 80px;
}

.about-content,
.skills-content,
.achievements-content,
.qualifications-content,
.contact-content {
  margin-left: 8%;
  margin-right: 8%;
}

.about h1,
.skills h1,
.achievements h1,
.qualifications h1,
.contact h1 {
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  font-family: "Varela Round", sans-serif;
  color: var(--main-color);
  margin-bottom: 6.5%;
}

#img1,
#img2 {
  box-shadow: 0px 4px 12px var(--sec-color);
  border-radius: 1rem;
}

.img1 {
  max-width: 35%;
}

#img1 {
  max-width: 100%;
}

.about-me {
  max-width: 55%;
  font-size: 1.1rem;
  font-family: "Ubuntu", sans-serif;
}

.img2 {
  max-width: 35%;
}

#img2 {
  max-width: 100%;
}

.skill-box {
  width: 55%;
}

.skill-item {
  margin-bottom: 1.6rem;
}

.skill span {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

.skill-item .line {
  /* transition: var(--transit); */
  margin-top: 8px;
  height: 6px;
  border-radius: 1rem;
  max-width: 100%;
  background-color: rgb(150, 150, 150);
  position: relative;
}

.skill-item .line::before {
  position: absolute;
  content: "";
  border-radius: 1rem;
  width: 0%;
  height: 100%;
  left: 0%;
  top: 0%;
  background-color: crimson;
}

.skill-item .C::before {
  width: 55%;
}

.skill-item .Python::before {
  width: 40%;
}

.skill-item .MySQL::before {
  width: 60%;
}

.skill-item .HTML::before {
  width: 85%;
}

.skill-item .CSS::before {
  width: 70%;
}

.skill-item .JavaScript::before {
  width: 35%;
}

.skill-item .Editing::before {
  width: 85%;
}

.qualifications h1 {
  position: relative;
}

#school-img,
#college-img {
  transition: var(--transit);
  max-width: 100%;
  height: 14rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 12px transparent;
}

#school-img:hover,
#college-img:hover {
  box-shadow: 0px 4px 12px var(--sec-color);
}

.school,
.college {
  transition: var(--transit);
  width: 40%;
}

.school-low,
.arrow-low,
.college-low {
  display: none !important;
}

.school-info,
.college-info {
  width: 40%;
  margin-top: 2%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
}

.s-info,
.c-info {
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 2%;
}

.school-info span,
.college-info span {
  font-size: 1.1rem;
  font-weight: normal;
  margin-top: 0.5rem;
}

.arrow {
  position: relative;
  animation-name: Arrow;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

#arrow {
  width: 100%;
  font-size: 4rem;
}

.list {
  width: 55%;
  text-align: left;
  font-size: 1.1rem;
  font-family: "Ubuntu", sans-serif;
}

.list a:hover {
  text-decoration: underline;
}

.list span {
  color: var(--main-color);
}

.img3 {
  text-align: right;
  max-width: 35%;
}

#img3 {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 4px 12px var(--sec-color);
}

.contact-container {
  position: relative;
  width: 60%;
  height: 60%;
  /* background-color: #fbf8f2 */
  background: url(../images/contact.jpg);
  background-size: cover;
  box-shadow: 0px 4px 12px var(--sec-color);
  border-radius: 0.5rem;
}

.c-form {
  width: 95%;
  margin: 6% 0%;
}

.one-line,
.field {
  width: 100%;
}

.in-name {
  margin-right: 1%;
}

.in-mail {
  margin-left: 1%;
}

.c-form input,
textarea {
  outline: none;
  color: var(--main-color);
  background-color: #4971aab5;
  width: 100%;
  border: 2px solid black;
  border-radius: 6px;
  font-size: 1rem;
  padding: 8px;
  margin-bottom: 2%;
  font-family: "Ubuntu", sans-serif;
}

/* .in-shadow {
  box-shadow: 0px 4px 8px var(--main-color);
} */

::placeholder {
  color: var(--main-color);
  opacity: 1;
}

.c-form textarea {
  resize: none;
}

.c-form .btn {
  display: inline-block;
  transition: var(--transit);
  color: var(--main-color);
  background: none;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  padding: 0.6rem 1.8rem;
  /* padding: 10px; */
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
  margin-top: 2%;
  cursor: pointer;
  transition: var(--transit);
}

.c-form .btn:hover {
  color: black;
  background-color: #50c46b;
  border: 3px solid #50c46b;
  box-shadow: 0px 4px 12px #50c46b;
}

.mail-container {
  width: 30%;
  margin-top: 0%;
}

.mail-bg {
  max-width: 100%;
}

#mail-bg {
  max-width: 100%;
  border-radius: 0.5rem;
}

.mail-i {
  max-width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
  margin-top: 5%;
  text-align: center;
}

.mail-i span {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 2%;
}

#scroll-up-btn {
  transition: var(--transit);
  position: fixed;
  bottom: 16%;
  right: 2.2%;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  /* background-color: var(--main-color); */
  background: none;
  color: var(--main-color);
  text-align: center;
  border: 3px solid var(--main-color);
  border-radius: 0.5rem;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  z-index: 100;
}

#scroll-up-btn.show {
  opacity: 1;
  pointer-events: auto;
}

#scroll-up-btn:hover {
  color: black;
  background-color: #50c46b;
  border: 3px solid #50c46b;
  box-shadow: 0px 4px 12px #50c46b;
}

.footer {
  width: 100vw;
  /* height: 4rem; */
  background-color: var(--sec-color);
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0px -4px 12px var(--sec-color);
}

.footer p {
  color: white;
  text-align: center;
  padding: 1.5rem 0rem;
}

.footer p span {
  color: var(--main-color);
}

.credits a {
  color: var(--main-color);
}

@keyframes Arrow {
  0% {
    color: #04aa2b;
  }
  50% {
    color: initial;
  }
  100% {
    color: #04aa2b;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#preloader {
  background: #f3e4cd40 url(../images/Pulse-1.2s-200px.gif) no-repeat center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

/* media queries */

@media screen and (max-width: 1300px) {
  .name {
    font-size: 1.2rem;
    letter-spacing: 0rem;
  }

  .nav-list li {
    font-size: 1rem;
    letter-spacing: 0rem;
    padding-right: 3rem;
  }

  .intro-h2 {
    font-size: 1.5rem;
  }

  .intro-h1 {
    font-size: 2.5rem;
  }

  .icons {
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }

  #contact-btn {
    font-size: 1.35rem;
  }

  .about h1,
  .skills h1,
  .achievements h1,
  .qualifications h1,
  .contact h1 {
    font-size: 1.4rem;
  }

  .about-me {
    font-size: 1rem;
  }

  .list {
    font-size: 1rem;
  }

  #school-img,
  #college-img {
    height: 12.5rem;
    border-radius: 0.7rem;
  }

  #arrow {
    font-size: 3.5rem;
  }

  #scroll-up-btn {
    /* bottom: 21%; */
    /* right: 2.2%; */
    font-size: 1.4rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.4rem;
  }
}

@media screen and (max-width: 1000px) {
  .ham {
    font-size: 1.35rem;
  }

  /* Responsive nav-list */

  .nav-list {
    position: fixed;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    justify-content: center;
    padding-top: 2%;
    /* padding-top: 6%; */
    top: 0;
    right: 0;
    background-color: var(--sec-color);
    position: absolute;
    right: -105%;
    /* border-left: 2px solid var(--main-color); */
    box-shadow: -4px 0px 12px var(--main-color);
    transition: var(--transit);
  }

  .nav-list.active {
    right: 0%;
  }

  .nav-list li {
    margin: 6% 0;
    padding-right: 0;
    letter-spacing: 0.1rem;
  }

  .nav-list li a {
    color: white;
  }

  .home-content {
    padding-top: 150px;
  }

  .intro-h2 {
    font-size: 1.4rem;
  }

  .intro-h1 {
    font-size: 2.3rem;
  }

  .home .icons a {
    margin-right: 2.8rem;
  }

  .icons {
    font-size: 1.5rem;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
  }

  #contact-btn {
    font-size: 1.2rem;
  }

  .logo-active {
    margin-top: 8%;
    margin-left: 37%;
    z-index: 1000;
  }

  .ham {
    display: block;
    opacity: 1;
  }

  .cross {
    display: block;
  }

  .about h1,
  .skills h1,
  .achievements h1,
  .qualifications h1,
  .contact h1 {
    font-size: 1.3rem;
  }

  .skill-item {
    margin-bottom: 0.8rem;
  }

  .skill span {
    font-size: 0.9rem;
  }

  #school-img,
  #college-img {
    height: auto;
    border-radius: 0.5rem;
  }

  .school-info,
  .college-info {
    font-size: 1.1rem;
  }

  .s-info,
  .c-info {
    font-size: 1rem;
  }

  .school-info span,
  .college-info span {
    font-size: 0.9rem;
  }

  #arrow {
    font-size: 3rem;
  }

  .c-form input,
  textarea {
    font-size: 0.9rem;
    padding: 6px;
  }

  ::placeholder {
    font-size: 0.9rem;
  }

  .c-form .btn {
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
  }

  .mail-i {
    font-size: 1.2rem;
  }

  .mail-i span {
    font-size: 0.9rem;
  }

  #scroll-up-btn {
    right: 2%;
    font-size: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  .no-scroll {
    overflow: hidden;
  }
}

@media screen and (max-width: 760px) {
  .name {
    font-size: 1.1rem;
  }

  .ham {
    font-size: 1.3rem;
  }

  .nav-list {
    width: 35%;
  }

  .home-content {
    padding-top: 125px;
  }

  .intro-h2 {
    font-size: 1.3rem;
  }

  .intro-h1 {
    font-size: 2.2rem;
  }

  .icons {
    font-size: 1.3rem;
    margin-top: 0.2rem;
    margin-bottom: 1.6rem;
  }

  #contact-btn {
    font-size: 1.1rem;
  }

  .about h1,
  .skills h1,
  .achievements h1,
  .qualifications h1,
  .contact h1 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }

  .about-main{
    flex-direction: column-reverse;
  }

  .img1,
  .img2,
  .img3 {
    max-width: 80%;
    margin-top: 20%;
  }

  .about-me {
    max-width: 100%;
  }

  .skill-main, .achievements-main{
    flex-direction: column;
  }

  .skill-box {
    width: 100%;
  }

  .skill-item {
    margin-bottom: 1.2rem;
  }

  .skill span {
    font-size: 1rem;
  }

  .list {
    width: 100%;
  }

  .qualify {
    flex-direction: column;
    align-items: center;
  }

  .school,
  .arrow,
  .college {
    display: none !important;
  }

  .school-low,
  .arrow-low,
  .college-low {
    display: block !important;
  }

  .school-low,
  .college-low {
    width: 80%;
  }

  .school,
  .college {
    width: 80%;
  }

  .school-info,
  .college-info {
    width: 100%;
  }

  .low .school-info {
    display: none;
  }

  .low .college-info {
    display: none;
  }

  .arrow-low {
    margin: 5% 0;
    animation-name: Arrow;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  #arrow {
    transform: rotate(-90deg);
  }

  .box {
    flex-direction: column;
  }

  .contact-container {
    width: 100%;
    margin-bottom: 10%;
  }

  .c-form input,
  textarea {
    font-size: 1rem;
    padding: 8px;
  }

  ::placeholder {
    font-size: 1rem;
  }

  .c-form .btn {
    font-size: 1rem;
  }

  .mail-container {
    width: 50%;
    text-align: center;
  }

  .mail-i {
    font-size: 1.2rem;
  }

  .mail-i span {
    font-size: 0.9rem;
  }

  .footer p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  /* .home {
    min-height: auto;
  } */

  .home-content {
    padding-top: 225px;
    padding-bottom: 50px;
  }
  
  .name {
    font-size: 1rem;
  }

  .ham {
    font-size: 1.15rem;
  }

  .nav-list .name {
    display: block;
    letter-spacing: 0.05rem;
    margin-bottom: 2.5%;
  }

  .nav-list {
    width: 100%;
    box-shadow: 0px 0px 0px;
  }

  .nav-list li {
    margin: 3% 0;
  }

  .intro {
    letter-spacing: 0.4rem;
    line-height: 3rem;
  }

  .intro-h2 {
    font-size: 1.2rem;
  }

  .intro-h1 {
    font-size: 2.1rem;
  }

  .home .icons a {
    margin-right: 2.5rem;
  }

  .icons {
    margin-top: 0rem;
    margin-bottom: 1.2rem;
  }

  #contact-btn {
    font-size: 1rem;
  }

  .about,
  .skills,
  .achievements,
  .qualifications,
  .contact {
    padding: 75px 0;
  }

  .about,
  .skills,
  .achievements{
    min-height: 75vh;
  }

  .contact{
    margin-top: 10vh;
  }

  .about{
    margin-top: 47vh;
  }

  .about h1,
  .skills h1,
  .achievements h1,
  .qualifications h1,
  .contact h1 {
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
  }

  .skill-item {
    margin-bottom: 0.8rem;
  }

  .skill span {
    font-size: 0.9rem;
  }

  .about-me {
    font-size: 0.9rem;
  }

  #achievements {
    padding-bottom: 105px;
  }

  .list {
    font-size: 0.9rem;
  }

  .school-low,
  .college-low {
    width: 100%;
  }

  #school-img,
  #college-img {
    height: auto;
    border-radius: 0.5rem;
  }

  .school-info,
  .college-info {
    font-size: 1rem;
  }

  .s-info,
  .c-info {
    font-size: 0.9rem;
  }

  .school-info span,
  .college-info span {
    font-size: 0.8rem;
  }

  #arrow {
    font-size: 2.3rem;
  }

  .c-form {
    margin: 3% 0%;
  }

  .c-form input,
  textarea {
    font-size: 0.9rem;
    padding: 6px;
  }

  ::placeholder {
    font-size: 0.9rem;
  }

  .c-form .btn {
    padding: 2% 6%;
    font-size: 0.9rem;
  }

  .mail-i {
    font-size: 1.1rem;
  }

  .mail-i span {
    font-size: 0.8rem;
  }

  .footer p {
    font-size: 0.8rem;
  }
}

@media screen and (max-height: 600px) {
  .sticky {
    padding: 1rem 0;
  }

  .footer p {
    padding: 1.1rem 0;
  }
}

@media screen and (max-height: 410px) {
  #scroll-up-btn {
    bottom: 20%;
  }
}

@media screen and (max-height: 300px) {
  #scroll-up-btn {
    bottom: 24%;
  }
}
